body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    width: 1440px;
}

.bg-light {
    background-color: transparent !important ;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffff;
}

.carousel-caption h5 {
    font-size: 35px;
    font-weight: 30px;
    position: absolute;
    top: -200px;
    left: -100px;
}

.carousel-caption p {
    font-size: medium;
    position: absolute;
    top: -100px;
    left: -100px;
}

.navbar {
    position: absolute;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; /* change width */
    height: 5px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    border-radius: 100%; /* add border-radius */
    background-image: linear-gradient(rgba(0,0,0,0.7), transparent)
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}


.a-link {
    color: #fff;
    padding-left: 160px;
    text-align: left !important;
}

.p-ctn4 {
    color: gray;
    text-align: left;
    font-size: 14px;
}

.cr {
    color: gray;
    font-size: 14px;
    padding-left: 160px;
}

.priv {
    color: gray;
    font-size: 14px;
    padding-left: 740px;
}
